doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      #main-trending-2
        a(href='#').item-new
          .inner
            img(src='img/2day/hinh1-1.jpg', alt='')
            .caption
              .cate
                span.time Cách đây 3 giờ
              h3 Lorem Ipsum is simply dummy text of the printing and typesetting
      #main-trending-2
        a(href='#').item-new
          .inner
            img(src='img/2day/hinh1-1.jpg', alt='')
            .caption
              .cate
                span.time Cách đây 3 giờ
              h3 Lorem Ipsum is simply dummy text of the printing and typesetting
      .container
        .newest2
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.red Du lịch 
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.green Giải trí
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.blue Xã hội
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.purple làm đẹp
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.orange thể thao
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
      a.xem-them2 Xem thêm
      .banner-right
        a(href='#')
          img(src='img/2day/hinh25.jpg', alt='')
        a(href='#')
          img(src='img/2day/hinh24.jpg', alt='')
      .newest
        h2 
          span tin nổi bật
        a.item(href='#')
          .img
            img(src='img/2day/hinh11.jpg', alt='').
          .text
            span.cate.red du lịch
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh12.jpg', alt='').
          .text
            span.cate.blue xã hội
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh13.jpg', alt='').
          .text
            span.cate.orange thể thao
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh14.jpg', alt='').
          .text
            span.cate.green giải trí
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh15.jpg', alt='')
          .text
            span.cate.purple làm đẹp
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh11.jpg', alt='').
          .text
            span.cate.red du lịch
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh12.jpg', alt='').
          .text
            span.cate.blue xã hội
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh13.jpg', alt='').
          .text
            span.cate.orange thể thao
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
        a.item(href='#')
          .img
            img(src='img/2day/hinh14.jpg', alt='').
          .text
            span.cate.green giải trí
            h4 Lorem Ipsum is simply dummy text of the printing
            span.time 12/05/2020
      include inc/footer.jade
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
