doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      #main-trending-2
        a(href='#').item-new
          .inner
            img(src='img/2day/hinh4.jpg', alt='')
            .caption
              .cate
                span.name.red du lịch
                span.time Cách đây 3 giờ
              h3 Lorem Ipsum is simply dummy text of the printing and typesetting
      .container
        #main-trending-2
          .div-row
            a(href='#').item-new.item-new-1
              .inner
                img(src='img/2day/hinh5.jpg', alt='')
                .caption
                  .cate
                    span.name.green giải trí
                    span.time Cách đây 3 giờ
                  h3.small Lorem Ipsum is simply dummy text of the printing and typesetting
          .div-row
            a(href='#').item-new.item-new-2
              .inner
                img(src='img/2day/hinh5.jpg', alt='')
                .caption
                  .cate
                    span.name.purple làm đẹp 
                    span.time Cách đây 3 giờ
                  h3.small Lorem Ipsum is simply dummy text of the printing and typesetting
        #banner_ads
          a(href='#').item-new
            .inner
              img(src='img/2day/hinh7.jpg', alt='')
              .caption
                .cate
                  span.name.orange thể thao
                  span.time Cách đây 3 giờ
                h3.small Lorem Ipsum is simply dummy text of the printing and typesetting
        #main-trending
          h2 
            span trending
          .owl-carousel.owl-theme.main-trending
            -for(i=0;i<3;i++)
              .item
                a(href='#').children
                  .img
                    img(src='img/2day/hinh1.jpg', alt='')
                  .cate
                    span.name.red du lịch
                    span.time Cách đây 3 giờ
                  .title
                    span 1
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                a(href='#').children
                  .img
                    img(src='img/2day/hinh2.jpg', alt='')
                  .cate
                    span.name.green giải trí
                    span.time Cách đây 3 giờ
                  .title
                    span 2
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                a(href='#').children
                  .img
                    img(src='img/2day/hinh3.jpg', alt='')
                  .cate
                    span.name.blue xã hội
                    span.time Cách đây 3 giờ
                  .title
                    span 3
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
        .trending-week
          h2 
            span trending tuần này
          .swiper-container
            ul#myTab.nav.nav-tabs(role='tablist').swiper-wrapper
              li.nav-item.swiper-slide
                a#home-tab.nav-link.active(data-toggle='tab', href='#all', role='tab', aria-controls='all', aria-selected='true') tất cả
              li.nav-item.swiper-slide
                a#profile-tab.nav-link(data-toggle='tab', href='#entertainment', role='tab', aria-controls='entertainment', aria-selected='false') giải trí
              li.nav-item.swiper-slide
                a#contact-tab.nav-link(data-toggle='tab', href='#beauty', role='tab', aria-controls='beauty', aria-selected='false') làm đẹp
              li.nav-item.swiper-slide
                a#contact-tab.nav-link(data-toggle='tab', href='#fashion', role='tab', aria-controls='fashion', aria-selected='false') thời trang
          #myTabContent.tab-content
            #all.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='all-tab')
              .div-row 
                a(href='#').item-new
                  .inner
                    img(src='img/2day/hinh16.jpg', alt='')
                    .caption
                      .cate
                        span.name.red du lịch
                        span.time Cách đây 3 giờ
                      h3 Lorem Ipsum is simply dummy text of the printing and typesetting
              .div-row
                a(href='#').item-new2
                  img(src='img/2day/hinh18.jpg', alt='')
                  .caption
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                    span.time 12/05/2020
              .div-row
                a(href='#').item-new2
                  img(src='img/2day/hinh18.jpg', alt='')
                  .caption
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                    span.time 12/05/2020
            #entertainment.tab-pane.fade(role='tabpanel', aria-labelledby='entertainment-tab') ...
            #beauty.tab-pane.fade(role='tabpanel', aria-labelledby='beauty-tab') ...
            #fashion.tab-pane.fade(role='tabpanel', aria-labelledby='fashion-tab') ...
        .beauty-news
            h2
              span Làm đẹp
            .div-row.main
              a(href='#').item-new2
                img(src='img/2day/hinh18.jpg', alt='')
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .div-row
              a(href='#').item-new2
                img(src='img/2day/hinh18.jpg', alt='')
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
            .div-row
              a(href='#').item-new2
                img(src='img/2day/hinh18.jpg', alt='')
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
            .div-row
              a(href='#').item-new2
                img(src='img/2day/hinh18.jpg', alt='')
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
      .video
        .container
          h2 Video
          .owl-carousel.owl-theme.main-video
            -for(i=0;i<8;i++)
              a(href="#").item
                img(src='img/2day/hinh22.png', alt='')
                .arrow
                  img(src='img/2day/svg/arrow.svg', alt='')
                .caption
                  h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  span.time 12/05/2020
      .container
        .beauty-news
          h2
            span Giải trí
          .div-row.main
            a(href='#').item-new2
              img(src='img/2day/hinh18.jpg', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
                p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            a(href='#').item-new2
              img(src='img/2day/hinh18.jpg', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
          .div-row
            a(href='#').item-new2
              img(src='img/2day/hinh18.jpg', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
          .div-row
            a(href='#').item-new2
              img(src='img/2day/hinh18.jpg', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
           
        .newest2
          h2
            span tin mới nhất
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.red Du lịch 
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.green Giải trí
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.blue Xã hội
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.purple làm đẹp
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .div-row
            .content-left
              img(src='img/2day/hinh23.jpg', alt='')
              span.cate.orange thể thao
            .content-right
              a(href='#').item-new2
                .caption
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                  span.time 12/05/2020
                  p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        .banner-right
          a(href='#')
            img(src='img/2day/hinh10.jpg', alt='')
        .newest
          h2 
            span xem nhiều nhất
          a.item(href='#')
            .img
              img(src='img/2day/hinh11.jpg', alt='').
            .text
              span.cate.red du lịch
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh12.jpg', alt='').
            .text
              span.cate.blue xã hội
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh13.jpg', alt='').
            .text
              span.cate.orange thể thao
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh14.jpg', alt='').
            .text
              span.cate.green giải trí
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh15.jpg', alt='')
            .text
              span.cate.purple làm đẹp
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh11.jpg', alt='').
            .text
              span.cate.red du lịch
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh12.jpg', alt='').
            .text
              span.cate.blue xã hội
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh13.jpg', alt='').
            .text
              span.cate.orange thể thao
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh14.jpg', alt='').
            .text
              span.cate.green giải trí
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
      include inc/footer.jade
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
