doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      .banner
        img(src='img/2day/hinh26_02.jpg')
      // Breadcrumbs
      section.breadcrumbs.pad10_0.breadcrumbs2
        .container
          .row
            ul
              li
                a(href='#') 
                    | Trang chủ
              li
                a(href='#') Đời sống   

      section.newsdetail-page.page_videos
        .container    
          .detail
            h1
              | 5 Essential Rules to a Healthy and Happy Life
            // Details
            .head
              .text
                span.date Admin - 
                  span 20/12/2018
              span.social
                img(src='img/2day/hinh27.jpg')
            h2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .ctent_detail
              p
                | What’s possible in a week? If you dedicated seven days to the achievement of one goal, how ambitious tyou make this goal? These were the questions that the multilingual friends Katy and Sara posed themselves when they determined to learn English in one week, to prove that it can be done and anyone can do it with the right methods. They would attempt to liberate themselves from the distractions and responsibilities of modern-day life in order to cram eight hours of study time and I was observing some of the world’s most capable language learners at work.
              img(src='img/2day/hinh28.jpg')
            blockquote
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            h2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .ctent_detail
              p
                | What’s possible in a week? If you dedicated seven days to the achievement of one goal, how ambitious tyou make this goal? These were the questions that the multilingual friends Katy and Sara posed themselves when they determined to learn English in one week, to prove that it can be done and anyone can do it with the right methods. They would attempt to liberate themselves from the distractions and responsibilities of modern-day life in order to cram eight hours of study time and I was observing some of the world’s most capable language learners at work.
              img(src='img/2day/hinh29.jpg')
              ul
                li
                  a(href='#') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                li
                  a(href='#') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                li
                  a(href='#') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .ctent_detail
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .ctent_detail
              img(src='img/2day/hinh30.jpg')
            .ctent_detail
              p
                | What’s possible in a week? If you dedicated seven days to the achievement of one goal, how ambitious tyou make this goal? These were the questions that the multilingual friends Katy and Sara posed themselves when they determined to learn English in one week, to prove that it can be done and anyone can do it with the right methods. They would attempt to liberate themselves from the distractions and responsibilities of modern-day life in order to cram eight hours of study time and I was observing some of the world’s most capable language learners at work.
            .head
              span.social
                img(src='img/2day/hinh27.jpg')
          .box-comments
            span.count Ý kiến (107)
          form.comments-review
            .row
              .img
                img(src='img/2day/hinh31.png')
              textarea.comments(name='comments' placeholder='Ý kiến của bạn ')
            .div-row
              p Hãy 
                a(href="#") Đăng Nhập 
                | hoặc 
                a(href="#") Tạo Tài Khoản 
                | để gửi bình luận
              span.submit
                input(type='submit', value='Gửi')
          #comments.comments-area
            .replay_comment
              -for(i=0;i<2;i++)
                .l
                  .name
                    ._left
                      img(src='img/2day/avatar.jpg')
                      h5 Quách Phương Anh
                  .content_left          
                    .content
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
                    .replay
                      a(href='#').answer Trả lời
                      a(href='#').like
                        img(src='img/2day/svg/like.svg')
                        |  Thích
                      a(href='#').share
                        | Chia sẻ
                      a.time 1 ngày trước
                    .count-answer
                      img(src='img/2day/svg/muiten.svg')
                      span 2 trả lời
                  .persion-replay
                    -for(y=0;y<3;y++)
                      .pr
                        .head
                          ._left
                            img(src='img/2day/avatar.jpg')
                            h5 Ngan Giang 
                        .content_left          
                          .content
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
                          .replay
                            a(href='#').answer Trả lời
                            a(href='#').like
                              img(src='img/2day/svg/like.svg')
                              |  Thích
                            a(href='#').share
                              | Chia sẻ
                            a.time 1 ngày trước
            a.xem-them Xem thêm
          .tags
            span TAGs:
            ul
              li
                a(href="#") Fashion
              li
                a(href="#") Làm đẹp
              li
                a(href="#") Du lịch
              li
                a(href="#") Video
              li
                a(href="#") Xã hội
              li
                a(href="#") Trending
      .banner
        .container
          img(src='img/2day/hinh26_02.jpg')  
      .container
        .beauty-news
          h2
            span(style="font-size: 30px") Xem nhiều nhất
          .div-row
            a(href='#').item-new2
              img(src='img/2day/hinh18.jpg', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
          .div-row
            a(href='#').item-new2
              img(src='img/2day/hinh18.jpg', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
          .div-row
            a(href='#').item-new2
              img(src='img/2day/hinh18.jpg', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
        .newest
          h2 
            span xem gần đây
          a.item(href='#')
            .img
              img(src='img/2day/hinh11.jpg', alt='').
            .text
              span.cate.red du lịch
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh12.jpg', alt='').
            .text
              span.cate.blue xã hội
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh13.jpg', alt='').
            .text
              span.cate.orange thể thao
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh14.jpg', alt='').
            .text
              span.cate.green giải trí
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh15.jpg', alt='')
            .text
              span.cate.purple làm đẹp
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh11.jpg', alt='').
            .text
              span.cate.red du lịch
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh12.jpg', alt='').
            .text
              span.cate.blue xã hội
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh13.jpg', alt='').
            .text
              span.cate.orange thể thao
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
          a.item(href='#')
            .img
              img(src='img/2day/hinh14.jpg', alt='').
            .text
              span.cate.green giải trí
              h4 Lorem Ipsum is simply dummy text of the printing
              span.time 12/05/2020
      .newest2
        h2
          span tin liên quan
        .div-row
          .content-left
            img(src='img/2day/hinh23.jpg', alt='')
            span.cate.red Du lịch 
          .content-right
            a(href='#').item-new2
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
                p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        .div-row
          .content-left
            img(src='img/2day/hinh23.jpg', alt='')
            span.cate.green Giải trí
          .content-right
            a(href='#').item-new2
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
                p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        .div-row
          .content-left
            img(src='img/2day/hinh23.jpg', alt='')
            span.cate.blue Xã hội
          .content-right
            a(href='#').item-new2
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
                p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        .div-row
          .content-left
            img(src='img/2day/hinh23.jpg', alt='')
            span.cate.purple làm đẹp
          .content-right
            a(href='#').item-new2
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
                p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        .div-row
          .content-left
            img(src='img/2day/hinh23.jpg', alt='')
            span.cate.orange thể thao
          .content-right
            a(href='#').item-new2
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                span.time 12/05/2020
                p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

      include inc/footer.jade
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
