doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      .page_videos
        section.video_list
          .owl-carousel.owl-theme.main-videos
            -for(i=0;i<3;i++)
              .item(style="background: url('img/2day/hinh1-6.jpg') no-repeat top center; height: 680px").row.align-items-center.justify-content-center
                .div-row
                  img(src='img/2day/svg/icon-video-big.svg', alt='')
                  h2 Lorem Ipsum is simply dummy text
                  p Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesettingLorem Ipsum is simply dummy text of the printing and typesetting
                  a(href='#') Xem ngay
        section.video_list
          .swiper-container
            ul.swiper-wrapper
              -for(i=0;i<4;i++)
                li.swiper-slide
                  a.item(href='#').style2
                    .img
                      img(src='img/2day/hinh1-3.jpg', alt='')
                      a.popup-youtube(href="#")
                        img(src='img/2day/svg/icon-video.svg', alt='')
                    .caption
                      h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      span.date 13/08/2019
        .container
          section.video_list
            .row.justify-content-between.align-items-center.padbt0_20
              h2._top-head._none_line.purple Làm đẹp
              a.readmore(href='#') Xem thêm
            .item.style3
              .img
                img(src='img/2day/hinh1-4.jpg', alt='')
                a.popup-youtube(href="#")
                  img(src='img/2day/svg/hinh1-5.svg', alt='')
              .caption.style3
                span.date 13/08/2019
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
            .row.justify-content-between
              -for(i=0;i<2;i++)
                .item.style4
                  .img
                    img(src='img/2day/hinh1-5.jpg', alt='')
                    a.popup-youtube(href="#")
                      img(src='img/2day/svg/icon-video.svg', alt='')
                  .caption
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                    span.date 13/08/2019 
          section.video_list
            .row.justify-content-between.align-items-center.padbt0_20
              h2._top-head._none_line.red Du lịch 
              a.readmore(href='#') Xem thêm
            .item.style3
              .img
                img(src='img/2day/hinh1-4.jpg', alt='')
                a.popup-youtube(href="#")
                  img(src='img/2day/svg/hinh1-5.svg', alt='')
              .caption.style3
                span.date 13/08/2019
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
            .row.justify-content-between
              -for(i=0;i<2;i++)
                .item.style4
                  .img
                    img(src='img/2day/hinh1-5.jpg', alt='')
                    a.popup-youtube(href="#")
                      img(src='img/2day/svg/icon-video.svg', alt='')
                  .caption
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                    span.date 13/08/2019  
          section.video_list
            .row.justify-content-between.align-items-center.padbt0_20
              h2._top-head._none_line.blue Xã hội
              a.readmore(href='#') Xem thêm
            .item.style3
              .img
                img(src='img/2day/hinh1-4.jpg', alt='')
                a.popup-youtube(href="#")
                  img(src='img/2day/svg/hinh1-5.svg', alt='')
              .caption.style3
                span.date 13/08/2019
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
            .row.justify-content-between
              -for(i=0;i<2;i++)
                .item.style4
                  .img
                    img(src='img/2day/hinh1-5.jpg', alt='')
                    a.popup-youtube(href="#")
                      img(src='img/2day/svg/icon-video.svg', alt='')
                  .caption
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                    span.date 13/08/2019
          section.video_list
            .row.justify-content-between.align-items-center.padbt0_20
              h2._top-head._none_line Thế giới
              a.readmore(href='#') Xem thêm
            .item.style3
              .img
                img(src='img/2day/hinh1-4.jpg', alt='')
                a.popup-youtube(href="#")
                  img(src='img/2day/svg/hinh1-5.svg', alt='')
              .caption.style3
                span.date 13/08/2019
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting
            .row.justify-content-between
              -for(i=0;i<2;i++)
                .item.style4
                  .img
                    img(src='img/2day/hinh1-5.jpg', alt='')
                    a.popup-youtube(href="#")
                      img(src='img/2day/svg/icon-video.svg', alt='')
                  .caption
                    h3 Lorem Ipsum is simply dummy text of the printing and typesetting
                    span.date 13/08/2019         
        
      include inc/footer.jade
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
