doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      .page_videos
        section.video_list
          .owl-carousel.owl-theme.main-videos
            -for(i=0;i<3;i++)
              .item(style="background: url('img/2day/hinh1-6.jpg') no-repeat top center; height: 680px").row.align-items-center.justify-content-center
                .div-row
                  img(src='img/2day/svg/icon-video-big.svg', alt='')
                  h2 Lorem Ipsum is simply dummy text
                  p Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesettingLorem Ipsum is simply dummy text of the printing and typesetting
                  a(href='#') Xem ngay
        section.video_list
          -for(i=0;i<4;i++)
            .item.style3
              .img
                img(src='img/2day/img3.jpg', alt='')
                a.popup-youtube(href='#')
                  img(src='img/2day/icon.png', alt='')
              .caption
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting....
                span 15k view 
                  span.date -  Cách đây 4 tháng

      include inc/footer.jade
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
