// Footer
footer#footer-new
  .footer-bottom
    .container
      a.footer-logo(href='#')
        img.padbt0_20(src='img/logo.jpg', alt='')
      p Giấy phép số: 1450/GP do Sở TTTT Hà Nội cấp ngày 21/5/2014.
      p Bản quyền và phát triển bởi Công ty cổ phần Truyền thông Kết Nối Sáng Tạo.
      p Chịu trách nhiệm nội dung: Bách
.menu-mobile
  span.close_mobile
    i.fa.fa-times
  ul
    li
      a(href='#') Thương hiệu
    li
      a(href='#') Chăm sóc da
      ul.sub
        li
          a(href='#') -  Da nhạy cảm
        li
          a(href='#') -  Điều trị rạn nứt da
    li
      a(href='#') Collagen
    li
      a(href='#') Mi, mày, tóc
    li
      a(href='#') Sức khỏe
    li
      a(href='#') Giảm cân
    li
      a(href='#') Nước hoa
    li
      a(href='#') Trang điểm
    li
      a(href='#') Kinh nghiệm làm đẹp
.form-box-search(style='display: none')
  .search__input
    form#form_s
      i.fa.fa-search
      input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')
      i.fa.fa-times-circle
    a.cancelSearch Cancel
