// Footer
footer#footer-new
	.footer-bottom.pad30_0
		.container
			.div
				a.footer-logo(href='#')
					img.padbt0_20(src='img/2day/logo-footer.png', alt='')
				._style
					p 98/6 đường Hoa Lan, Phường Tân Định,
						br
						| Quận Phú Nhuận, TP. Hồ Chí Minh
					p Giấy phép số: 1450/GP do Sở TTTT Hà Nội
						br
						| cấp ngày 21/5/2020
					p Chịu trách nhiệm nội dung: Bách
			.div
				._style1
					p
						span.blue Phone
						a(href="tel:028 6286 0007") 028 6286 0007
					p
						span.blue Email
						a(href="mailto:") contactus@gmail.com
					span.blue Social
					ul
						li
							a(href='#')
								img(src='img/2day/svg/facebook.svg', alt='')
								span Facebook
						li
							a(href='#')
								img(src='img/2day/svg/youtube.svg', alt='')
								span Youtube
						li
							a(href='#')
								img(src='img/2day/svg/instagram.svg', alt='')
								span Instagram
			.div
				._style2
					ul
						li
							a(href='#') Giới thiệu
						li
							a(href="#") Hỏi đáp
						li
							a(href="#")  Liện hệ
						li
							a(href='#')  Điều khoản sử dụng
						li
							a(href='#')  Điều khoản riêng tư
						li
							a(href="#")  Điều khoản về cộng đồng
	.footer-copyright
		.container
			p © Copyright 2020. Giấy phép MXH số 232/GP-BTTTT do Bộ TT&TT cấp ngày 18/05/2020
a#top.active(href="#top")
	img(src='img/2day/svg/icon-scroll.svg')
.menu-mobile
	.bg-black
	.bg-blue
		span.close_mobile
			img(src='img/2day/svg/close.svg')
		ul
			li
				a(href='#') TV        
			li
				a(href='#') giải trí
			li
				a(href='#') làm đẹp & Thời trang
			li
				a(href='#') Đời sống
			li
				a(href='#') Du lịch
			li
				a(href='#') Xã hội
			li
				a(href='#') Thế giớI
			li
				a(href='#') Học đường
			li
				a(href='#') Video
