// Header
header#header
  .nav-top
    .container
      .row.align-items-center.justify-content-between
        .div
          a.menu-click(href='javascript:void(0)')
            img(src='img/2day/svg/menu.svg', alt='')
        .div
          a.logo-mobile(href='#')
            img(src='img/2day/svg/logo.svg', alt='')
        .div-row
          a.search
            img(src='img/2day/svg/search.svg', alt='')
            img(src='img/2day/svg/close2.svg', alt='')
          .profile
            img(src='img/2day/svg/profile.svg', alt='')
            .info-open
              .div-row-two
                ul
                  li
                    a.open-dang-ky Đăng ký / 
                    a.open-dang-nhap Đăng nhập
                  li
                    a(href='#') Hoạt động bình luận 
                  li 
                    a(href="#") Tin đã lưu
                  li
                    a(href="#") Tin đã xem
                ul
                  li
                    a(href='#') Tài khoản của tôi
                  li 
                    a(href="#") Thoát
  .form-search
    .row.align-items-center
      span.search-icon
        img(src='img/2day/svg/search-big.svg',alt='')
      input(type='text' placeholder='Tìm kiếm. . .')
  
    