// Header
header#header
  .nav-top
    .container
      .row.align-items-center.justify-content-between
        .div
          a.menu-click(href='javascript:void(0)')
            img(src='img/2day/svg/menu.svg', alt='')
        .div
          a.logo-mobile(href='#')
            img(src='img/2day/svg/logo.svg', alt='')
        .div
          a.search
            img(src='img/2day/svg/search.svg', alt='')
          a.profile
            img(src='img/2day/svg/profile.svg', alt='')
  .form-search
    .row.align-items-center
      span.search-icon
        img(src='img/2day/svg/search-big.svg',alt='')
      input(type='text' placeholder='Tìm kiếm. . .')
  .info-open
    ul
      li
        a(href='#') Hoạt động bình luận 
      li 
        a(href="#") Tin đã lưu
      li
        a(href="#") Tin đã xem
    ul
      li
        a(href='#') Tài khoản của tôi
      li 
        a(href="#") Thoát
    