// Header
header#header
  .nav-top
    .container
      .row.align-items-center.justify-content-between
        .div
          a.menu-click(href='javascript:void(0)')
            img(src='img/2day/svg/menu.svg', alt='')
        .div
          a.logo-mobile(href='#')
            img(src='img/2day/svg/logo.svg', alt='')
        .div
          a.search
            img(src='img/2day/svg/search.svg', alt='')
          a.profile
            img(src='img/2day/svg/profile.svg', alt='')