// Header
header#header.pad20_0
  .nav-top
    .container
      .row.align-items-center.justify-content-between
        .col-3.row.align-items-center
          a.menu-click(href='javascript:void(0)')
            img(src='img/2day/icon_.png', alt='')
          a(href="#").video
            i.fas.fa-video
        .col-6
          a.logo-mobile(href='#')
            img(src='img/2day/logo.jpg', alt='')
        .col-3
          .float-right.row.align-items-center
            .search
              a(href='javascript:void(0)')
                i.fa.fa-search
            .user
              a(href="#")
                i.fa.fa-user
